<% @page_title = "Mobile, Al Attorney" %>
<% @page_description = "If you've been injured while driving in Mobile, Alabama, and need a real injury attorney that has worked cases in the Mobile area, call Noel B. Leonard for a free consultation." %>

<div class="mobile-accident-attorney">
  <div class="mobile-landing">
    <div class="sec1">
      <div class="container-fluid">
          <div class="txt">
            <h1>Mobile, Alabama Injury Attorney<br> <b>Noel Leonard</b></h1>
            <div class="title-line"></div>
            <div class="clearfix"></div>

            <h3>Are you injured from an accident in Mobile, Alabama?<br> Contact Injury Attorney Noel B. Leonard today, to discuss your options.</h3>
            <h4><b>Give Noel a call, or fill out the form below to get started.</b></h4>
            <h3 class="phone"><%= number_to_phone(2519438638, delimiter: '-') %></h3>
          </div>
      </div>
    </div>


    <div class="sec2">
      <div class="container-fluid">
        <div class="form jform">
          <script type="text/javascript" src="https://form.jotform.com/jsform/221674620302042"></script>
        </div>

        <div class="text-sec">
          <div class="top">
            <p>
              As an acting injury attorney, Noel B. Leonard has successfully represented injured Mobile, Alabama drivers, passengers, and accident victims for years, providing the crucial compensation needed to pay for accident-related expenses such as lost wages and medical bills.
            </p>
            
            <%= image_tag('logo-nbl.png', class: 'img-responsive center-block') %>
          </div>
          <div class="bot">
            <p>If you've been injured while driving in Mobile, Alabama - don't hesitate to call Noel!<br class="kp">
            Get a free consultation with a real injury attorney that has worked cases in the Mobile Area.</p>

            <h3 class="phone"><%= number_to_phone(2519438638, delimiter: '-') %></h3>
            <h4>No fees unless you collect! We don't get paid if you don't get paid!</h4>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>