<% @page_title = "Mobile Form Submission" %>
<% @page_description = "Thank you for submitting your case form. We will be in touch with you soon." %>

  <div class="pa-header">
      <div class="overlay">
        <div class="container">
          <h1>Thank you for your submission!</h1>
					<h2>We will be in touch with you soon.</h2>
        </div>
      </div>
  </div>

  <div class="ty-body">
		<div class="video-row">
			<div class="container">
				<div class="col-md-6"><%= video_tag("https://s3.amazonaws.com/noel-videos/noel-general.mp4", class: 'video one', :controls => true, :autobuffer => true) %></div>
			 	<div class="col-md-6"><%= video_tag("https://s3.amazonaws.com/noel-videos/noel-motorcycle.mp4", class: 'video two', :controls => true, :autobuffer => true) %></div>
			</div>
		</div>
  </div>
