<% @page_title = "Noel Leonard, Foley Attorney" %>
<% @page_description = "Noel B. Leonard is a Foley Alabama injury attorney for personal injury, auto accidents, and 18 wheeler crashes in Baldwin, Mobile, and Escambia Counties." %>

			Our firm ensures that victims of an automotive accident receive proper compensation for personal injuries sustained during the accident, post-medical needs and rehabilitation, as well as property damages to vehicles, dwellings, and or businesses.

			Whether the cause of the accident is driver fatigue or error, equipment failure, shifting or falling cargo, improper training or any other negligent action by the driver or carrier, we will help you and your family get through the trying times.

			Every person who has suffered a personal injury deserves the time and dedication our law firm can provide, in order to make sure you are compensated for your legitimate physical and financial pain and suffering.


Foley Alabama Injury Attorney
Noel B. Leonard
Committed to Providing Excellent Legal Service Within the State of Alabama

"Accidents happen...but finding the right attorney doesn't happen by accident."
If you are the victim of a serious personal injury, auto accident injury or 18-wheeler accident injury in Baldwin, Mobile, or Escambia County, Foley injury attorney Noel B. Leonard can help.

Noel's firm will evaluate your case, help file your claim, and make every effort to see that you receive proper compensation for your injuries and all other damages sustained during the accident.

Noel B. Leonard Attorney, LLC employs a knowledgeable legal staff capable of addressing any legal concerns you may have.

Our practice areas include but are not limited to:
AUTO ACCIDENT INJURY CLAIMS
18 WHEELER ACCIDENT VICTIMS
PERSONAL INJURY CLAIMS

<!--
<a rel="wp-video-lightbox" href="https://www.youtube.com/watch?v=7Ax8NAhosgo&amp;width=850&amp;height=500" title=""><img src="http://www.attorney-leonard.com/wp-content/uploads/2015/06/video1.png" class="video_lightbox_anchor_image" alt="" /></a>

<a rel="wp-video-lightbox" href="https://www.youtube.com/watch?v=5at_QmbdWAQ&amp;width=850&amp;height=500" title=""><img src="http://www.attorney-leonard.com/wp-content/uploads/2015/06/video21.png" class="video_lightbox_anchor_image" alt="" /></a>
 -->
