<% @page_title = "Mobile, Al Attorney" %>
<% @page_description = "If you've been injured while driving in Mobile, Alabama, and need a real injury attorney that has worked cases in the Mobile area, call Noel B. Leonard for a free consultation." %>


<div class="mobile-landing">
	<div class="sec1">
		<div class="container-fluid">
				<div class="txt">
				<!-- <%= image_tag('logo-nbl.png', alt: 'Noel Leonard Attorney - Logo', class: 'logo') %>  -->

					<h1>Mobile, Alabama Injury Attorney<br> <b>Noel Leonard</b></h1>
					<h3>Are you injured from an accident in Mobile, Alabama?<br> Contact Injury Attorney Noel B. Leonard today, to discuss your options.</h3>
					<h4>Give Noel a call, or fill out the form below to get started.</h4>
					<h3 class="phone"><%= number_to_phone(2519438638, delimiter: '-') %></h3>

				</div>
				<!-- <%= image_tag('noel-mobileal.jpg', class: 'img-land') %> -->
		</div>
	</div>


	<div class="sec2">
		<div class="container">
			<div class="col-md-8">
				<h3>
					As an acting injury attorney,​ Noel B. Leonard has successfully represented injured Mobile, Alabama drivers, passengers, and accident victims for years, providing the crucial compensation needed to pay for accident-related expenses such as lost wages and medical bills​.
				</h3>
			</div>

			<div class="col-md-4">
				<h4> If you've been injured while driving in Mobile, Alabama - don't hesitate to call Noel for a free consultation with a real injury attorney that has worked cases in the Mobile Area.</h4>
			</div>
		</div>


		<!-- Mobile Alabama Area
		Injury Attorney/ Lawyer
		http://localhost:3000/mobile-al-injury-attorney
		-->

	</div>
</div>
