<% @page_title = "Motorcycle Accidents" %>
<% @page_description = "If you are the victim of a motorcycle accident in Baldwin, Mobile, or Escambia County, and schedule a consultation with Noel B. Leonard today, to learn more about your options." %>


<div class="header-wrap">
	<div class="cst-header">
		<h1><span>Motorcycle</span> Accident Claims</h1>
	</div>
</div>
<div class="clearfix"></div>

<div class="ms1">
	<div class="container">
		<div class="left">
			<h4>Noel B. Leonard is an avid motorcycle enthusiast, who understands the risk firsthand. He represents victims of motorcyle accidents in the counties of Baldwin, Mobile, and Escambia.</h4>
			<hr>
			<p>As the least protected vehicles on the road, motorcycles have higher risk of injury than that of traditional motorists.
			These accidents typically result in high medical expenses, and often, a need for rehabilitative treatment and extended care, as well as substantial time off from work.</p>
			<p>If you have been injured in a motorcycle accident, you need an attorney you can count on, with the ability to deliver the legal results you need to get your life back in order.</p>

			<div class="sidebar">
				<div class="inner">
					<h4>Noel B. Leonard is on your side.</h4>
					<p>As an accident attorney and a motorcyclist, Noel B. Leonard has the knowledge and experience to successfully litigate your claim.</p>
					<hr class="fancy">
					<p>Noel and his firm will put all of their efforts into fighting for the compensation you deserve, to help you move forward after your injury.</p>
				</div>
			</div>
		</div>

		<div class="right">
			<%= image_tag('noel5.jpg', class: 'Noel B. Leonard, with his motorcycle', class: 'img-responsive portrait') %>
			<%= image_tag('noel6.jpg', class: 'Noel B. Leonard, with his motorcycle', class: 'img-responsive portrait-m') %>
		</div>
	</div>
</div>

<div class="ms2">
	<div class="overlay">
		<div class="container">
			<h2>Let Noel B. Leonard <span>fight for you.</span></h2>
			<p>If you live in Baldwin, Mobile, or Escambia County, and you or a loved one has been injured in a motorcycle accident in Alabama, contact accident attorney, Noel B. Leonard today.</p>
			<hr class="fancy">
			<p>Learn more about your rights, and start moving forward.<br> Fill out our <%=link_to "case evaluation form", contact_path %>, or call now to schedule a consultation.<br>
			<%= number_to_phone(2519438638, delimiter: '-', class: 'call-link') %></p>
		</div>
	</div>
</div>

