<% @page_title = "Motorcycle Accidents" %>
<% @page_description = "New Subject" %>


<div class="header-wrap">
	<div class="cst-header">
		<h1><span>Motorcycle</span> Accident Claims</h1>
	</div>
</div>
<div class="clearfix"></div>

<div class="ms1">
	<div class="container">
		<div class="left">
			<!--   -->
				<!-- <p>Motorcycles are the least protected vehicles on the road, which results in a higher risk of injury than that of traditional motorists.</p> -->
				<!-- Motorcycle accidents typically lead to high medical expenses, that often times, can only be paid after a successful litigation outcome.</p> -->
				<h4>Noel B. Leonard is an avid motorcycle enthusiast, who understands the risk firsthand. He represents victims of motorcyle accidents in the counties of Baldwin, Mobile, and Escambia.</h4>
				<hr>
				<p>As the least protected vehicles on the road, motorcycles have higher risk of injury than that of traditional motorists.
				These accidents typically result in high medical expenses, and often, a need for rehabilitative treatment and extended care, as well as substantial time off from work.</p>
				<p>If you have been injured in a motorcycle accident, you need an attorney you can count on, with the ability to deliver the legal results you need to get your life back in order.</p>
		</div>

		<div class="sidebar">
			<div class="inner">
				<h4>Noel B. Leonard is on your side.</h4>
				<!-- <h3><span>Contact us today, to get started on your claim.</span></h3> -->
				<p>As an accident attorney and a motorcyclist, Noel B. Leonard has the knowledge and experience to successfully litigate your claim.</p>
				<hr class="fancy">
				<p>Noel and his firm will put all of their efforts into fighting for the compensation you deserve, to help you move forward after your injury.</p>
			</div>
		</div>
	</div>
</div>

<div class="ms2">
	<div class="overlay">
		<div class="container">
			<h2>Let Noel B. Leonard <span>fight for you.</span></h2>
			<p>If you live in Baldwin, Mobile, or Escambia County, and you or a loved one has been injured in a motorcycle accident in Alabama, contact accident attorney, Noel B. Leonard today.</p>
			<hr class="fancy">
			<p>Learn more about your rights, and start moving forward.<br> Fill out our <%=link_to "case evaluation form", contact_path %>, or call now to schedule a consultation.<br>
			<%= number_to_phone(2519438638, delimiter: '-', class: 'call-link') %></p>
		</div>
	</div>
</div>
<!--

<section class="content">
	<div class="text-box">
		<p>We counsel all motorcyclists to wear a helmet and follow essential safety precautions on the road, as there are many dangerous and negligent drivers out there.</p>
		<p>In the event that you are in an accident caused by a negligent driver, it is essential that you have as much protection as possible, to prevent life-threatening injuries.</p>
		<p>While a helmet is no guarantee that a life will be saved, in many cases a helmet has been the difference between life and death.</p>
	</div>
</section> -->




		<!-- <h5>Contact Alabama accident attorney, Noel B. Leonard to schedule a consultation, or call (251) 597-0695 if you live in the city of Foley or Baldwin, Mobile or Escambia Counties, and have been in a motorcycle accident.</h5> -->
