<% @page_title = "Personal Injury" %>
<% @page_description = "New Subject" %>

<div class="simple-header">
	<h1>Personal Injury</h1>
</div>

<!-- 	Food Poisoning Claims
  Hoverboard Claims
  Misfilled Prescriptions &amp; Medical Malpractice
  Premises Liability &amp; Employer Negligence
  Product Liability Claims
  Slip and Fall Injury Claims
  Wrongful Death Claims -->
<div class="main-wrap">
	<div class="body-content">
		<div class="s1">

			Foley injury lawyer Noel B. Leonard
			Accidents and injuries, unfortunately, are a common occurrence in life.
			No matter who you are or where you live in Alabama, you always run the risk of being injured in a life-changing accident.

			Many of these accidents give rise to a personal injury claim when wrongfully injured, and when this happens, victims need a proven Alabama injury attorney to represent them. Noel B. Leonard passionately pursues justice for his victimized clients who are in need of medical care and rehabilitative treatment for their injuries.
			Noel Fights to Restore Your Life
		</div>

		<div class="s2">

			When you suffer personal injuries that result in life-altering injuries and/or severe emotional distress, you may have the legal right to file a lawsuit. In such cases, Noel B. Leonard will fight to recover compensation for you in a way that helps you restore your life.
			Successful cases litigated or settled by our firm allow clients to collect compensation to pay for the following:
				Medical Costs and Treatment
				Lost Wages
				Rehabilitative Treatment and Care
				Future Lost Income When Disabled
				Pain and Suffering
				Emotional Trauma and Other Emotional Damages
				Property Damage
				And More

			A Passionate Pursuit of Justice on Your Behalf
			Noel is passionate about representing wrongfully injured Alabama victims in their pursuit of justice. Thousands of Alabamans are wrongfully injured each year, and Attorney Leonard has personally represented a wide range of injury claims.
			Noel B. Leonard has successfully represented Alabama clients over a wide range of practice areas, including:
				Slip and Falls
				Misfilled Prescriptions
				Medical Malpractice
				Food Poisoning
				Product Liability Claims
				Wrongful Death Claims
				Premises Liability
				Employer Negligence
				And More
		</div>

		<div class="s3">

			If you live in Baldwin, Mobile or Escambia County and have been injured in one of the following ways, Noel B. Leonard is ready to pursue justice on your behalf. In the meantime, you can focus on recovery and healing while we fight to ensure that you have the compensation needed for a full and proper recovery.
			Call now to schedule a consultation (251) 943-8638 or fill in our Case Evaluation Form and we will contact you as soon as possible.
		</div>
	</div>
</div>
