<% @page_title = "Wills, Trusts, & Estates" %>
<% @page_description = "New Subject" %>

<div class="wte">
	<div class="wte-s1">
		<div class="container">
				<h1>Wills, Trusts, Estate Planning, &amp; Estate Litigation</h1>
				<p>Probate cases in the state of Alabama have the potential to get very complicated. When preparing your estate and planning for the future, it is best to seek counsel from an Alabama attorney with a comprehensive understanding of the process, and significant experience with estate litigation.</p>

				<p>Alabama attorney, Noel B. Leonard has the valuable experience it takes to make even the most difficult cases regarding wills, trusts, and estates go smoothly.</p>
		</div>
	</div>


	<div class="wte-s2">
		<div class="container">
			<h3>Estate Planning</h3>
			<p>Estate planning is extremely complex. There are many aspects to consider, and each one requires close attention to detail. Complicated as it may be, it is equally beneficial.</p>
			<p>When a person in the state of Alabama passes away without a will or estate plan, the state executes its own process for dividing that person's assets among their successors. A properly planned estate, however, allows you to decide how/to whom your assets will be divided in the event of your passing. For years, Alabama Attorney Noel B. Leonard has been assisting clients throughout Mobile, Baldwin, and Escambia counties  helps to avoid disputes and conflict between the surviving family members.</p>

			<h3>Experience Matters</h3>
			<p>If you hire an estate planning attorney with little-to-no experience, you run the risk of ending up with a will that is unclear, and seems open to interpretation. This can result in disputes between the successors and the decision to contest the will. </p>
			<p>Noel B. Leonard has been succesfully drafting wills, and litigating </p>
		</div>
	</div>

</div>
<!-- http://daviswillsandtrusts.com/about-estate-planning/ -->

