<% @page_title = "Elmiron Class Action Form" %>
<% @page_description = "If you have experienced vision problems after taking the drug Elmiron, you might be entitled to compensation! Fill out our free case evaluation form to find out." %>

<div class="elmiron">
  <div class="sec1">
    <div class="container-fluid">
      <div class="txt">
        <h1>If you have experienced vision problems after taking the drug <b>Elmiron</b> (used to treat interstitial cystitis), you may be entitled to compensation!</h1>
        <h2>Fill out the form below for a free case evaluation.</h2>
        <div class="title-line"></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>


  <div class="sec2">
    <div class="container-fluid">
      <div class="form jform">
        <script type="text/javascript" src="https://form.jotform.com/jsform/221674506434051"></script>
      </div>
    </div>
  </div>
</div>