$black: #000;
$white: #fff;
$light: #e4e4e4;
$dark: #1a1a1a;
$gray: #9d9d9d;
$offwhite: #f5f4f4;
$hcolor: #252525;
$blue: #0060af;
// $navy: #062f45;
$navy:darken($blue, 25%);
$dk-blue: #022444;
$br-blue: #007ce2;
$lt-blue: #b2cfe7;
$tan: #dbd3c7;

$open: 'Open Sans', Arial, sans-serif;
$cinzel: 'Cinzel', serif;
$lato: 'Lato', sans-serif;

$sec-padding: 55px 0;
$fullsec-padding: 55px 75px;
$content-padding: 30px;


// 0478bb
// 0060af
