// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";

.honey {position: absolute;left: -9999px;}

.cst-header {
	@include sec-default();
	@include sec-bgimage();
	margin-top:0;
	padding-top: 50px;
	text-align: center;

	h1 {font-weight: bold; }

	&.filter {padding-top:0;
		.overlay {@include sec-default(); height: 100%; padding-top: 50px; background-color: rgba($black, .6)}
	}
}

.pa-header {@include sec-default();  @include sec-bgimage(); background-image: url(image_path('traffic-blur.jpg')); height: 120px;
	h1 { color: $white; font-weight: bold; @include tshadow($black);}
	.overlay {@include sec-default(); height: 100%; padding-top: 60px; padding-left: 60px; background-color: rgba($black, .6)}
}

.simple-header {@include sec-default(); background-color: $white; border-bottom: 5px solid $offwhite; padding-top: 20px; padding-left: 50px;
	h1 { color: $blue; font-weight: bold; }
}

.main-content {
	@include sec-default();
	padding: $fullsec-padding;
	&.less {padding: $sec-padding;}
}

.main-wrap {@include sec-default(); padding: 0 60px; background-color: $light;}
.body-content { @include sec-default(); background-color: $offwhite;
	.s1, .s2, .s3 {@include sec-default(); background-color: $offwhite; padding: $content-padding;}
}


// .claim-info-scroll {
//   width: 25%;
//   display: none;
//   position: fixed;
//   bottom: 15%;
//   top:20%;
//   vertical-align: middle;
//   right: 5%;
//   background-color: $dark;
//   color: $white;
//   z-index: 100;
//   padding: 40px 30px;
//   box-shadow: 10px 15px 20px rgba($black, .4);

//   &.noscroll {
// 	  position: static;
// 		float: right;
// 	  width: 30%;
//   }
// }

// .slant-section {
// 	@include sec-default();
// 	position: relative;
// 	padding: 130px 0;
// 	top: 0;
// 	clear: both;

// 	&:before {
// 		width: 50%;
// 		border-bottom: 0 solid $navy;
// 		border-top: 600px solid $navy;
// 		border-left: 0 solid transparent;
// 		border-right: 100px solid transparent;
// 		content: "";
// 		height: 100%;
// 		top: 0;
// 		position: absolute;
// 	}
// }

.topic-boxes {@include sec-default(); padding: 40px 60px; background-color: $white;
	.intro {width: 80%; @include center-block();text-align: center; margin-bottom:30px; }
	.b1, .b2, .b3 {display: inline-block; width: 32%; font-size: 17px; float: left; padding: 25px 25px 15px; border: 1px solid #dfdfdf;
		background: -webkit-linear-gradient(-50deg, rgba($light, .85), rgba($light, .3));
	  background: linear-gradient(-50deg, rgba($light, .85), rgba($light, .3));
	  p{line-height: 1.5em;}
	}
	.b2 {margin: 0 15px;}
}

.home {
	.site-intro{
		@include sec-default();
		height:550px;
		@include sec-bgimage();
		background-image: url(image_path('hs-mr2.jpg'));
		position: relative;z-index: 0;

		.overlay {
			@include sec-default(); height:100%;
		  background: -webkit-linear-gradient(-120deg, rgba($white, .45), rgba($white, .6));
		  background: linear-gradient(-120deg, rgba($white, .45), rgba($white, .6));
		}

		.title-block{
			margin-top: 10%;
			text-align: center;
		}
		h1, h2, h3 {font-weight: bold;}
		h1 {font-size: 4em;margin-bottom: 0;}
		h2 {font-size: 3em;}
	}

	.practice-areas {
		@include sec-default();
		padding: $fullsec-padding;

		h3 { margin-bottom: 20px; color: $blue; text-align: center; width: 60%; @include center-block();
			span{font-size: .8em}}

		.practice-box {display: inline-block; width: 30%; margin: 0 15px; float: left; padding:25px 30px 15px; text-align: center; color: $white;
			@include sec-bgimage(); position: relative;z-index: 0;
			background-image: url(image_path('lawyer.jpg'));
			&::before {@include before(); background-color: rgba($blue,.8);}
			.title-line {width:55%; @include center-block(); height: 1px; background-color: rgba($white, .6); margin-bottom: 20px;}
			// &.bike {padding: 30px;}
		}
	}

	.home-sec1 {
		@include sec-default();
		@include sec-bgimage();
		background-image: url(image_path('home-background.jpg'));
		padding-top: 80px;
		.text { @include sec-default(); padding: 40px;}
		.info-top {width:75%; @include center-block(); h3, h4, p {color: $white; text-align: center;}}
		.info-box {width:75%; @include center-block(); background-color: $white; padding: $sec-padding; margin-top:40px;}
		.symbol {width: 100px; @include center-block(); }
		.video-row { padding-top:30px; }
		iframe { display: inline-block; width: 40%; height: 250px;
			&.one {margin: 0 4%}
		}
	}
}

.page {
	.cst-header {background-image: url(image_path('courtroom.jpg')); background-position: center center; height:300px; position: relative; z-index: 0;
		&::before {@include before(); background-color: rgba($navy, .8);}
		h1, h4 {color: $white; @include tshadow($black); }
	}

	.s1 {padding:0 30px 50px;
		text-align: center;
	}
	.s2 {background-color: $white; @include sec-bgimage(); background-size: 50%; background-position: left center; background-image: url(image_path('bcch1.jpg'));}
	.s3 { padding: 50px;}

	.blue-sidebar {width: 45%; float: right;
		h4 {font-weight: bold; margin-bottom: 10px;color: darken($blue, 10%); }
		ul{padding-left: 10px;}
		li {font-weight: bold; font-size: 15px; margin-top: 15px; }
		.icon {width: 30%;@include center-block();}
	}

	.community {@include sec-default(); text-align: center;
		h4 {color: $blue; font-weight: bold; width: 60%;@include center-block(); margin-bottom: 35px;}}
	.charity{display: inline-block; width:20%; float: none;}

	.practice-boxes-op {display: inline-block; width: 22%; float: none; padding:35px 30px 25px; text-align: center; color: $white; background-color: $dk-blue;
		margin: 0 5px 0 10px; position: relative;
		margin-top: -50px;
		h4 {font-family: $open; color: $white;}
	}
}

.motorcycle-accidents {
	.header-wrap {@include sec-default(); padding:0px; background-color: $navy;}
	.cst-header { background-image: url(image_path('biker.jpg')); height: 250px; padding-left: 5%; background-position: center center;}
	h1 {text-align: left; color: $white; @include tshadow($black); width: 30%;
		span {font-size: 1.5em;}}

	.topic-boxes{
		h3 {text-align: center; margin-bottom:30px;}
	 .b1, .b2, .b3 { height: 200px;}
	}

	.content{@include sec-default(); background-color: $dark; padding: 40px; @include sec-bgimage();
		background-image: url(image_path('motorcycle.jpg')); background-size: 70%; background-position: left center;

		.text-box {width:27%; float: right; padding: 15px; color: #dfdfdf;
		  p{line-height: 1.5em;}
		}
	}
}

.auto-accidents {
	.cst-header {background-image: url(image_path('auto-accident.jpg'));height:300px; background-position: center center;
	 	h4, h1 {color: $white; @include tshadow($dark);}
	}

	.main-body {@include sec-default(); background-color: $light;}

	.s1 {@include sec-default(); background-color: $white; position: relative; z-index: 0;
		&::before {@include before(); width:58%; background-color: $navy;}
		h3, h4 {color: $light; font-family: $open;}
		h4 {font-size: 20px; margin-top:25px; color: $lt-blue; span{font-weight: bold;font-style: italic; }}
		li { color: $blue; font-weight: bold; font-size: 17px; margin-bottom: 10px; }
		.left {padding: 40px 55px; padding-bottom:0; text-align: center;}
		.right {padding: 15px 40px;}
	}

	.topic-boxes .intro h3 {margin-bottom:5px; color: $blue; font-weight: bold;}

	.banner {margin-top: -80px; width: 90%; @include center-block(); padding: 30px;
		background-color: $navy; color: $white;
		h5 {color: $white; font-weight: bold; font-size: 17px; }
		p {width: 67%; font-size: 17px; line-height: 1.5em}
	}
}

.truck-claims { @include sec-default();
	.claim-info {
	  width: 35%;
	  background-color: $lt-blue;
	  color: $white;
	  padding: 30px;
	  box-shadow: 5px 7px 15px rgba($black, .2);
	  h4 {line-height: 1.5em; color: $dark; }
	}

	.topic-boxes { position: relative; z-index: 0;padding:30px 50px;
		background-position: top right; background-size: 35%; background-repeat: no-repeat; background-image: url(image_path('semi-claim.jpg'));
		&::before {@include after (); width: 35%; background-color: rgba($dark, .9);}
		.b1, .b2, .b3 {background: transparent; border:none;}
		.b1, .b2 {padding-left: 5px }
		.b3.right {color: $white; float: right; font-size: 18px; padding-left: 10px; padding-right: 0px; span { color: $lt-blue;}}
		p.bold {font-weight: bold; margin-bottom:25px;}
	}

	.banner {@include sec-default(); text-align: center; padding-bottom: 30px; h3 {color: $blue; font-weight: bold;}}
	.s2 {
		.block1, .block2 {width: 45%; display: inline-block; margin: auto; float: left;}
		.block2 {background-color: $white; padding: 20px 30px ; float: none; margin-left: 15px;
			ul {padding-left: 25px;}
			li {color: $blue; font-size: 16px; margin-top: 10px;}
		}

		.block1 { p{font-size: 17px; color: $white;}
			.a, .b {@include sec-default(); background-color: $lt-blue; padding: 35px 45px 25px; position: relative; z-index: 0;
				@include sec-bgimage(); background-image: url(image_path('cargo.jpg')); background-position: center center;
				&::before {@include before(); background-color: rgba($navy, .9); }
			}
			.a{margin-bottom: 25px; background-image: url(image_path('semi-wreck.jpg'));}
		}
	}
}

.espanol {
	.s2 {background-color: $white;}
	.bradius{border-radius: 10px;}
	h3 {color: $navy; font-weight: bold;}
	p.pref{padding-left: 15px; color: $dk-blue;}
	ul li { color: $blue; font-size: 16px; margin-bottom: 10px; font-weight: bold;}
	ul.mix li {font-weight: normal; span{font-weight: bold;}}
}

.resources { background-color: $light;
	.cst-header {
		background-image: url(image_path('lawyer-ph'));
		background-position: center center;
		height: 250px;
		position: relative;z-index: 10;

		h1 {color: $white; font-size: 45px; @include tshadow(rgba($dark, .6));}
		h4 {font-weight: bold;}
	}

	.resource-list {
		width: 85%;
		@include center-block();
		background-color: $white;
		// padding: 20px 0;
		position: relative; z-index: 11;
		margin-top:-50px;
		h3 {font-weight: bold; margin-top:25px; color: $blue; margin-bottom: 5px; font-size: 22px;
			&.tmargin0 { margin-top: 0; }
		}
		.list {padding-left:70px;
			p {margin-bottom: 10px; padding-left: 20px; font-size: 15px;
		}
			.res-link{color: $navy; &:hover {color: $br-blue; font-weight: bold;}}}

		.border-text { width:85%; @include center-block(); margin: 25px auto; padding: 15px 0 10px; text-align: center; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
	}
}

.contactpage { @include sec-default(); }

.about {@include sec-bgimage(); background-image: url(image_path('lawyer-ph.jpg'));
	.cst-header {
		// background-position: center center; height:300px;position: relative; z-index: 0;
		// &::before {@include before(); background-color: rgba($navy, .8);}
		padding: 100px 0;
		h1, h4 {color: $white; @include tshadow($black); }
		h1 {font-size: 40px}
	}
	.practice-claims { width:25%;display: inline-block;float: left;
		.practice-boxes-op { width: 100%; float: left; padding:35px 30px 25px; text-align: center; color: $white; background-color: $dk-blue; margin: 0;
			h4 {font-family: $open; color: $white;}
			&.bike {background-color: $blue;}
			&.auto {background-color: #00447c;}
			i {font-size: 25px; padding: 13px 12px; border:1px solid $white; border-radius: 50%; margin-bottom: 10px;}
		}
	}

	.body{width:90%; @include center-block(); background-color: $offwhite;}
	.s2 {@include sec-default();background-color: $offwhite; margin-bottom: 75px;}

	.blue-sidebar {width: 75%; float: none; padding: 30px; display: inline-block;
		h4 {font-weight: bold; font-family: $open; text-align: center; font-size: 22px; margin-top: 25px; margin-bottom: 10px;color: darken($blue, 10%); }
		ul{padding-left: 0px;}
		li {font-weight: bold; font-size: 16px; margin-top: 15px; display: inline-block; width:49%; }
		.icon {width: 10%;@include center-block();}
	}

	.community {@include sec-default(); text-align: center;
		h4 {color: $blue; font-weight: bold; width: 60%;@include center-block(); margin-bottom: 35px;}}
	.charity{display: inline-block; width:20%; float: none;}

	.body2 { @include sec-default();@include sec-bgimage(); background-image: url(image_path('courthouse1.jpg')); background-position: bottom center; position: relative; z-index: 0;
		&::before {@include before(); background-color: rgba($dk-blue, .85);}
		.s3 { width:90%; @include center-block(); padding: 50px;}
	}
}
