<% @page_title = "Foley Injury Lawyer" %>
<% @page_description = "Noel Leonard is a personal injury attorney who serves accident victims in the Foley area. If you or a loved one has been injured in an accident, schedule a free consultation with Attorney Leonard today to learn more about your options." %>

<div class="pa-body">
	<div class="sec1">
		<div class="inside mid">
			<h1>An Injury Law Firm<span> Serving Foley, AL</span></h1>
			<div class="title-line"></div><div class="clearfix"></div>

			<div class="btm">
				<p class="one"><span>This area has changed significantly since Attorney Noel Leonard first opened his office in Foley.</span><br> The Foley Beach Express and tourist traffic, the growth in building renovation, constant construction on the east and west of Highway-59, and so many more people have all contributed to that change. But our roads aren’t growing at the same pace. As a result, traffic has gotten much worse, and unfortunately, so have the number of serious motor vehicle accidents requiring an Injury Attorney in Foley.</p>

				<div class="left">
					<h4>We are proud to have over a decade of experience representing Foley accident victims. Attorney Noel Leonard works hard for every injury victim who chooses him as their Injury lawyer. He works hard because he’s a Foley local – not another satellite office from a bigger city.</h4>
				</div>

				<div class="right">
				 <p>When an insurance company tries to avoid providing fair compensation, our team is willing to fight to protect Foley’s injured people. <span>We care about you because you are our neighbors, friends and family members.</span> Foley citizens, and people from the surrounding area need a Foley Injury attorney they can trust.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="sec-bg">
		<div class="inside mid2">
			<p>At the Law Offices of Noel Leonard, our Foley Injury law team fights to get the best possible result in personal injury cases of all types.
			We bring over a decade of experience to your case.</p>
			<!-- <p class="cta"> Call us at <a href="tel:2519438638">251-943-8638</a> or <%= link_to "contact us online now.", contact_path, class: 'text-link' %> -->
				<a class="cta-btn" href="tel:2519438638">Call: 251-943-8638</a>
				<%= link_to "contact us online", contact_path, class: 'cta-btn' %>
			</p>
		</div>
	</div>


	<div class="sec3">
		<div class="inside">
			<div class="left">
				<h4>Helping Injury Victims In Foley</h4>
				<div class="title-line left"></div><div class="clearfix"></div>
				<p>We are an injury law firm that handles your case, no matter if it involves injuries to children or adults.
				We will work with you to learn what you want from your case, whether your goal is to: <span>maximize compensation, move on from your accident or injury and get a settlement in a timely manner, or even to get the negligent party's acknowledgement of fault.</span></p>
				<p class="last">We are the Foley Injury Law Firm that will do everything we can to get the result that is right for you.</p>
			</div>

			<div class="right">
				<h4>Contact Us</h4>
				<div class="title-line"></div><div class="clearfix"></div>
				<!-- <p>Get in touch with us to discuss your injuries, or your child's accident with a dedicated attorney.<br> -->
				<p>If you or a loved one suffers from an injury as a result of an accident in Foley, contact us to speak with a dedicated attorney.<br>
				 Call <a href="tel:2519438638">251-943-8638</a> for a free consultation, or <%= link_to "click here", contact_path, class: 'text-link' %> to contact us online</p>
			</div>
		</div>
	</div>
</div>
